<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.akvo.rsr.android"
    android:versionCode="1"
    android:versionName="0.77" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.akvo.rsr.android.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.akvo.rsr.android.ProjectListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_project_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.akvo.rsr.android.LoginActivity" />
        </activity>
        <activity
            android:name="org.akvo.rsr.android.UpdateListActivity"
            android:label="@string/title_activity_update_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.akvo.rsr.android.ProjectDetailActivity" />
        </activity>
        <activity
            android:name="org.akvo.rsr.android.ProjectDetailActivity"
            android:label="@string/title_activity_project_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.akvo.rsr.android.ProjectListActivity" />
        </activity>
        <activity
            android:name="org.akvo.rsr.android.DiagnosticActivity"
            android:label="@string/title_activity_project_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.akvo.rsr.android.ProjectListActivity" />
        </activity>
        <activity
            android:name="org.akvo.rsr.android.UpdateDetailActivity"
            android:label="@string/title_activity_update_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.akvo.rsr.android.UpdateListActivity" />
        </activity>
        <activity
            android:name="org.akvo.rsr.android.UpdateEditorActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_update_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.akvo.rsr.android.UpdateListActivity" />
        </activity>
        <activity
            android:name="org.akvo.rsr.android.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.akvo.rsr.android.ProjectListActivity" />
        </activity>
        <activity
            android:name="org.akvo.rsr.android.AboutActivity"
            android:label="@string/title_activity_about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.akvo.rsr.android.LoginActivity" />
        </activity>
        
        <service
            android:name="org.akvo.rsr.android.service.SubmitProjectUpdateService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="org.akvo.rsr.android.service.GetProjectDataService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="org.akvo.rsr.android.service.SignInService"
            android:enabled="true"
            android:exported="false" >
        </service>
        
    </application>

</manifest>